<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jch.lsposed">

    <application
        android:label="JCH HelloWorld"
        android:icon="@mipmap/ic_launcher">
        
        <!-- LSPosed metadata ONLY -->
        <meta-data
            android:name="xposedminversion"
            android:value="95" />
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Simple Hello World LSPosed module" />
            
        <!-- NO Activity tag needed! -->
    </application>
</manifest>
