name: Build Debug APK

on:
  workflow_dispatch
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: android-app

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Build Debug APK
      run: |
        chmod +x ./gradlew
        ./gradlew assembleDebug --stacktrace --info

    - name: Upload Debug APK
      uses: actions/upload-artifact@v4
      with:
        name: DebugClient-debug-apk
        path: android-app/app/build/outputs/apk/debug/app-debug.apk

    - name: Upload Build Reports (optional)
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Build-Reports
        path: |
          android-app/app/build/reports/**
          android-app/app/build/outputs/logs/**
